@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;1,400;1,900&display=swap');
body {
    margin: 0px;
}
.container {
    height: 100vh;
    width: 100vw;
    display: grid;

    grid-template-rows: 1fr 7fr;
}
.header {
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main {
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    gap: 1rem;
}
.player-section {
    margin-left: 5rem;
}
.computer-section {
    margin-right: 5rem;
}
.player-section, .computer-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Header */
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
}
#play-again {
    width: 8vw;
    height: 5vh;
    background-color: white;
    border: 1px solid black;
    border-radius: 1rem;
    font-size: 1rem;
}
#play-again:hover {
    background-color: black;
    color: white;
}
#msg {
    height: 5vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    margin-top: 1rem;
}
/* Boards */
.computer-board, .player-board {
    display: grid;
    grid-template-columns: repeat(10, 5vmin);
    grid-template-rows: repeat(10, 5vmin);
    background-color: rgb(33, 173, 220);
}
.player-tile, .comp-tile {
    border: 1px solid rgb(106, 199, 246);
    background-color: rgb(33, 173, 220);
}
/* ship-section */
.ship-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 15vw;
    margin-top: 2vh;
    margin-left: 1rem;
}
.ships {
    height: 100%;
    width: 20vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
}
.ship {
    z-index: 10;
    background-color: orange;
    border-radius: 20px;
}
.axis {
    height: 100%;
    background-color: white;
    border: 1px solid black;
}
.axis:hover {
    background-color: black;
    color: white;
}
/* boats */
.player-board > .carrier:nth-child(1) {
    height: 100%;
    width: 500%;
}
.player-board > .battleship:nth-child(1) {
    height: 100%;
    width: 400%;
}
.player-board > .cruiser:nth-child(1) {
    height: 100%;
    width: 300%;
}
.player-board > .submarine:nth-child(1) {
    height: 100%;
    width: 300%;
}
.player-board > .destroyer:nth-child(1) {
    height: 100%;
    width: 200%;
}
.player-board > .carrier.vertical:nth-child(1) {
    height: 500%;
    width: 100%;
}
.player-board > .battleship.vertical:nth-child(1) {
    height: 400%;
    width: 100%;
}
.player-board > .cruiser.vertical:nth-child(1) {
    height: 300%;
    width: 100%;
}
.player-board > .submarine.vertical:nth-child(1) {
    height: 300%;
    width: 100%;
}
.player-board > .destroyer.vertical:nth-child(1) {
    height: 200%;
    width: 100%;
}
.draggable {
    cursor: move;
}
.invis {
    visibility: hidden;
}
.draggable.dragging {
    opacity: .5;
}
.player-board > .boat {
    background-color: orange;
}
.xy-btns {
    display: flex;
    flex-direction: column;
}
.ships > .carrier {
    width: 5rem;
    height: 1rem;
}
.ships > .battleship {
    width: 4rem;
    height: 1rem;
}
.ships > .cruiser {
    width: 3rem;
    height: 1rem;
}
.ships > .submarine {
    width: 3rem;
    height: 1rem;
}
.ships > .destroyer {
    width: 2rem;
    height: 1rem;
}
.no-click {
    pointer-events: none;
}
/* vertical */
.ships > .carrier.vertical {
    height: 5rem;
    width: 1rem;
}
.ships > .battleship.vertical {
    height: 4rem;
    width: 1rem;
}
.ships > .cruiser.vertical {
    height: 3rem;
    width: 1rem;
}
.ships > .submarine.vertical {
    height: 3rem;
    width: 1rem;
}
.ships > .destroyer.vertical {
    height: 2rem;
    width: 1rem;
}
/* on hit */
.miss,
.boom {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.boom::after,
.miss::after {
    content: '';
    position: absolute;
    border-radius: 100%;
    width: 2vmin;
    height: 2vmin;
    z-index: 20;
}
.miss::after {
    background-color: rgb(7, 7, 7);
}
.boom::after {
    background-color: red;
}