@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;1,400;1,900&display=swap');
body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}
.container {
    height: 100vh;
    width: 100vw;
    display: grid;

    grid-template-rows: 1fr 8fr;
}
.header {
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main {
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    gap: 1rem;
}
.player-section {
    margin-left: 5rem;
}
.computer-section {
    margin-right: 5rem;
}
.player-section, .computer-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Header */
h1 {
    font-size: 2.5rem;
    margin: 1rem;
}
#play-again {
    width: 8vw;
    height: 5vh;
    background-color: white;
    border: 1px solid black;
    border-radius: 1rem;
    font-size: 1rem;
}
#play-again:hover {
    background-color: black;
    color: white;
}
#msg {
    height: 4vh;
    font-size: 2rem;
    margin-top: 1rem;
}
/* Boards */
.computer-board, .player-board {
    display: grid;
    grid-template-columns: repeat(10, 7vmin);
    grid-template-rows: repeat(10, 7vmin);
}
.player-tile, .comp-tile {
    border: 1px solid rgb(155, 215, 245);
    background-color: rgb(33, 173, 220);
}
/* ship-section */
.ship-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 30vw;
    margin-top: 2vh;
    margin-left: 1rem;
    border: 1px solid black;
    justify-self: center;
    margin-bottom: 5vh;
    overflow: auto;
}
.ships {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
}
.ship {
    z-index: 10;
    border-radius: 20px;
    display: flex;
    height: 1.7rem;
    width: 8rem;
}
.ship-part {
    width: 100%;
}
.axis {
    position: absolute;
    top: 0;
    left: 95.4%;
    background-color: white;
    border: 1px solid black;
}
.axis:hover {
    background-color: black;
    color: white;
}
/* boats */
.ship > * {
    width: 20%;
    background-color: orange;
    border: 1px solid orange;
}
.ship:first-child {
    border-radius: 20% 0 0 20%;
}
.player-board > .draggable {
    cursor: move;
    background-color: orange;
}
.invis {
    visibility: hidden;
}
.draggable.dragging {
    opacity: .5;
}
.xy-btns {
    display: flex;
    flex-direction: column;
}
.no-click {
    pointer-events: none;
}
/* vertical */
.vertical {
    height: 8rem;
    width: 1.7rem;
    display: flex;
    flex-direction: column;
}
.vertical > * {
    height: 20%;
    width: 100%;
}
/* on hit */
.miss,
.boom {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.boom::after,
.miss::after {
    content: '';
    position: absolute;
    border-radius: 100%;
    width: 2vmin;
    height: 2vmin;
    z-index: 20;
}
.miss::after {
    background-color: rgb(7, 7, 7);
}
.boom::after {
    background-color: red;
}